@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0a192f;
  --secondary: #112240;
  --text-primary: #ccd6f6;
  --text-secondary: #8892b0;
  --accent: #64ffda;
}

body {
  background-color: var(--primary);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}




::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}



::selection {
  background-color: var(--accent);
  color: var(--primary);
}

